<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ARTICLE NAME</title>
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <meta name="description" content="DESCRIPTION">
    <meta name="keywords" content="KEYWORDS">
    <meta name="author" content="Jakub Heger">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <a href="../index.html">Home</a>
    <h2>ARTICLE NAME</h2> 
    <h5 style="margin-top: -20px;">DATE</h5>
    <article>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium nibh ipsum consequat nisl vel pretium lectus quam id. Nisi est sit amet facilisis magna etiam tempor orci eu. Risus nec feugiat in fermentum posuere urna nec tincidunt. Sit amet risus nullam eget felis eget nunc lobortis mattis. Sagittis id consectetur purus ut faucibus pulvinar. Fermentum odio eu feugiat pretium. Urna molestie at elementum eu facilisis sed odio morbi quis. Turpis in eu mi bibendum. Varius quam quisque id diam vel quam. Quis imperdiet massa tincidunt nunc pulvinar sapien et. Elementum sagittis vitae et leo duis ut. Lorem ipsum dolor sit amet consectetur adipiscing.
    </article>
 

  </body>


</html>
