:root {
    --background:  #1b1919; 
    --background2:;
    --background3: #151414; /* codeblocks */

    --foreground: #cdcdcd; /* text */   
    --foreground2: #6c6969; /* footer */

    --accent: #5c4185;
    --borders: #2f2d2d; 
    
    --links: #b280de;
    --links-active: #b280de;
    --links-hover: #7b63ab;

}
